{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Record Water Quality Data{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Record Water Quality Data</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}